#root {
  text-align: center;
}

.app {
  display: flex;
  font-family: "Jersey 25", sans-serif;
  font-size: 35px;
  align-items: center;
  justify-content: center;
  min-height: 100vh; 
  background-image: url('/bg.png'); 
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
  color: white;
  text-align: center;
}

.cat-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  border-radius: 15px;
  width: 90%;
  max-width: 700px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 80vh; 
  overflow-y: auto; 
}

.cat-image {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.text-display {
  margin-top: 20px;
  font-size: 30px;
  font-weight: 800;
  line-height: 1.5;
  color: #f0f0f0; 
}

.counter {
  margin: 10px 0;
  font-size: 18px;
  font-weight: 600;
  color: #f8e5e5; 
}


  .button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    position: sticky;
    bottom: 35px;
   

  }


.button-container button {
  padding: 10px 20px;
  background: #733c75; 
  border: none;
  color: white;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.button-container button:hover {
  background: rgba(70, 72, 165, 0.9); 
}

@media (max-width: 480px) {
  .app {
    font-size: 24px; 
  }

  .cat-container {
    padding: 10px 25px; /* Added padding for mobile */
    width: 85%; /* Slightly smaller width */
  }

  .text-display {
    font-size: 20px; 
  }

  .counter {
    font-size: 14px; 
  }

  .button-container button {
    padding: 6px 12px; 
  }
}
